# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# FOR DOSBOX
Makefile
stamp-h1
config.status
config.log
config.h
a.wasm
.deps
autom4te.cache
dosbox-0.74-3/src/dosbox.js
dosbox-0.74-3/src/dosbox.html
dosbox-0.74-3/src/dosbox.wasm
package-lock.json
node_modules